<form action="/colleges<%= college.name ? '/' + college.id + '?_method=PUT' : '' %>" method="post">
  <label>
    <input type="text" name="name" value="<%= college.name ? college.name : '' %>" placeholder="name">
  </label><br>
  <label>
    <input type="text" name="deadline" value="<%= college.deadline ? college.deadline : '' %>" placeholder="deadline">
  </label><br>
<label>
  <textarea class="prompts" type="text" name="mainPrompt" value="<%= college.mainPrompt ? college.mainPrompt : '' %>" placeholder="essay contents"></textarea>
</label><br>
<label>
  <input class="prompts" type="text" name="supplementaryPrompt" value="<%= college.supplementaryPrompt ? college.supplementaryPrompt : '' %>" placeholder="supplementary">
</label><br>

  <label>Early decision:
  <input type="checkbox" name="earlyDecision" <%= college.earlyDecision ? 'checked' : '' %> >
</label><br>
  <input type="submit" value="<%= college.name ? 'Update' : 'Add' %> college">
</form>
