<form action="/colleges<%= college.name ? '/' + college.id + '?_method=PUT' : '' %>" method="post">
  <label>name:
    <input type="text" name="name" value="<%= college.name ? college.name : '' %>">
  </label><br>
  <label>deadline:
    <input type="text" name="deadline" value="<%= college.deadline ? college.deadline : '' %>">
  </label><br>
  <label>Early decision:
  <input type="checkbox" name="earlyDecision" <%= college.earlyDecision ? 'checked' : '' %> >
</label><br>
<label>Main Essay:
  <input class="prompts" type="text" name="mainPrompt" value="<%= college.mainPrompt ? college.mainPrompt : '' %>">
</label><br>
<label>Supplemenetary:
  <input class="prompts" type="text" name="supplementaryPrompt" value="<%= college.supplementaryPrompt ? college.supplementaryPrompt : '' %>">
</label><br>
  <input type="submit" value="<%= college.name ? 'Update' : 'Add' %> college">
</form>
