<% include ../partials/head %>
<body>
  <h1>College Counseling</h1>
  <a href="/colleges/new"><h2>Essay+</h2></a>
  <% colleges.forEach(function(m) { %>
  <div id="name"><a href=<%=`/colleges/${m.id}/expand` %>><%= m.name %></a>
    <div>Due <%= m.deadline %></div>
    </div>
  <div> <%= m.earlyDecision ? 'early decision' : '' %></div>
  <br>
  <br>
  <br>
          <a href="/colleges/<%= m.id %>/edit">edit</a> |
          <a href="/colleges/<%= m.id %>?_method=DELETE">delete</a>
    <% }); %>
</body>
</html>
