<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All colleges</title>
</head>
<body>
  <a href="/colleges/new"><h2>Colleges+</h2></a>

  <% colleges.forEach(function(m) { %>
  <div id="name"><a href=<%=`/colleges/${m.id}/expand` %>><%= m.name %></a>
    <div>Due <%= m.deadline %></div>
    </div>
  <div> <%= m.earlyDecision ? 'early decision' : '' %></div>
  <br>
  <div>Main Prompt</div>
  <%= m.mainPrompt %>
  <br>
  <div>supplementary prompt</div>
  <%= m.supplementaryPrompt %>
  <br>
          <a href="/colleges/<%= m.id %>/edit">edit</a> |
          <a href="/colleges/<%= m.id %>?_method=DELETE">delete</a>
          <br>
    <% }); %>
</body>
</html>
